<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

       <aop:aspectj-autoproxy/>

       <context:annotation-config/>
       <context:component-scan base-package="com.dci.springdemo"/>

       <bean name="triangle" class="com.dci.aspectdemo.model.Triangle">
              <property name="name" value="Triangle name"/>
       </bean>
       <bean name="circle" class="com.dci.aspectdemo.model.Circle">
              <!--<property name="name" value="Circle name"/>-->
       </bean>

       <bean name="shapeService" class="com.dci.aspectdemo.service.ShapeService" autowire="byName"/>

       <bean name="loggingAspect" class="com.dci.aspectdemo.aspect.LoggingAspect"/>

       <!--
       <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
              <property name="basenames">
                     <list>
                            <value>mymessages</value>
                     </list>
              </property>
       </bean>

       <bean id="triangle" class="com.dci.springdemo.Triangle">
              <property name="pointA" ref="pointA"/>
              <property name="pointB" ref="pointB"/>
              <property name="pointC" ref="pointC"/>
       </bean>

       <bean id="pointA" class="com.dci.springdemo.Point">
              <qualifier value="circleRelated"/>
              <property name="x" value="0"/>
              <property name="y" value="0"/>
       </bean>
       <bean id="pointB" class="com.dci.springdemo.Point">
              <property name="x" value="-20"/>
              <property name="y" value="0"/>
       </bean>
       <bean id="pointC" class="com.dci.springdemo.Point">
              <property name="x" value="0"/>
              <property name="y" value="20"/>
       </bean>

       <bean id="circle" class="com.dci.springdemo.Circle">
              <property name="center" ref="pointA"/>
       </bean>
       -->
</beans>